@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Nunito+Sans:wght@200&family=Palanquin+Dark:wght@700&family=Poppins:wght@100;300;700;800&family=Quicksand:wght@400;600;700&family=Roboto:wght@100;500;700&family=Rubik:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "poppins", sans-serif;
    line-height: 1;
    font-weight: 500;
    color: #555;
    overflow-x: hidden;

}

.since {
    margin: 2.2rem 2.4rem;
}

.grid {
    /* padding: 4.8rem 0 .2rem 0; */
    padding: 1.8rem 9.6rem;
    max-width: 164rem;
    margin: 0 auto;
    display: grid;
    column-gap: 5.4rem;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: green; */
}





.netcabs {
    height: 100%;
    width: 100%;
}

.netcabss {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    height: auto;
    width: 100%;
}

.cabs2 {
    margin-top: -2.9rem;
}

.cabs1 {
    margin-top: 2.1rem;
}

.cabs4 {
    margin-top: -2.9rem;
}

.cabs3 {
    margin-top: 2.1rem;
}



/* <div class="box-3 "><div class="flex-icon-head "><img class="icon" src="./img/Vector (2).png" alt=""></div><div class="flex-text"><h2 class="thead">UNLIMITED</h2><p class="para ">With our broadband connection,
say no to slow internet and enjoy unlimited internet that last you for a month </p>--></div><div class="lea"><a class="learn" href="#">LEARN MORE</a></div></div></div> */

/* <div class="box-2 "><div class="flex-icon-head"><img class="icon" src="./img/Vector.png" alt="">< !-- <h2 class="thead">OFFICE</h2>--></div><div class="flex-text"><h2 class="thead">OFFICE</h2><p class="para ">With our internet connection,
 you can carry out your office activities with ease.</p>< !-- </div>--><div class="lea"><a class="learn" href="#">LEARN MORE</a></div></div></div> */

/* <div class="box-1 "><div class="flex-icon-head"><img class="icon" src="./img/Vector (1).png" alt=""></div><div class="flex-text "><h2 class="thead">RESIDENCE</h2><p class="para ">Our services are designed to soothe your internet activities such as remote work,
 netflix,
 games,
 etc.</p> </div>--><div class="lea"><a class="learn" href="#">LEARN MORE </div></div></div> */