@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Nunito+Sans:wght@200&family=Palanquin+Dark:wght@700&family=Poppins:wght@100;300;700;800&family=Quicksand:wght@400;600;700&family=Roboto:wght@100;500;700&family=Rubik:wght@300;400;600&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 80%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
}

.row {
  display: flex;
  justify-content: space-between;
}

.menu-bar {
  display: none;
}

.nav-container {
  background-color: white;
  width: 100%;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 10000;
  padding: 0px 10%;
}

nav {
  align-items: center;
  padding-top: 15px;
}

.nav-list {
  width: 100%;
  justify-content: flex-end;
}

.nav-list_item {
  list-style-type: none;
  margin-left: 80px;
}

.nav-link {
  text-decoration: none;
  font-size: 14px;
  color: black;
  padding-bottom: .5rem;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #0C37F6;
  height: 2px;
  left: 0;
  transform: scaleX(0);
  transition: transform 350ms ease-in;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.welcome-section {
  text-align: center;
  margin-bottom: 150px;
  margin-top: 6rem;
}

.welcomeAnima {
  animation-name: welcome;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes welcome {
  0% {
    opacity: 0;
    margin-top: 100px
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.welcome_text {
  font-weight: 700;
  line-height: 80px;
  margin: 0 auto;
}

.welcome_blue-text {
  color: #0C37F6;
}

.welcome-btn_container {
  margin: 50px 0px;
}

.welcome-section_button {
  border-radius: 30px;
  padding: .5rem 2rem;
  text-decoration: none;
  font-weight: bold;
  background-color: #0C37F6;
  color: #FFFFFF;
  border: 1px solid #0C37F6;
  margin-right: 5px;
  position: relative;
}

.welcome-section_button::after {
  content: '>>>';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: right;
  background-color: #FFFFFF;
  opacity: .7;
  font-size: 25px;
  color: #0C37F6;
  border-radius: 30px;
  transition: transform 150ms ease-in-out;
}

.welcome-section_button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.welcome-section_button:hover {
  color: transparent;
}

.service-section {
  margin-bottom: 50px;
}

.desktop-services-display {
  flex-direction: column;
  border-left: 1px solid #DDDFE8;
  width: 100%;
}

.service-title,
.mobile_service-title {
  margin-bottom: 0;
  font-weight: 600;
}

.service-text,
.mobile_service-text {
  margin-top: 0;
  font-size: 12px
}

.service {
  position: relative;
  margin-bottom: 50px;
  padding-left: 25px;
  margin-left: -2px;
  cursor: pointer;
}

.service-focus {
  border-left: 2px solid #0C37F6;
}

.description-box {
  background-color: #DDDFE8;
  border: 1px solid #DDDFE8;
  max-height: 350px;
  width: 100%;
  padding: 20px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.services-display {
  margin-top: 60px;
  align-items: center;
}

.service-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notice {
  text-align: center;
  margin-top: 60px;
}

.notice i {
  font-size: 10px;
}

.internet-solution-section {
  text-align: center;
}

.internet-solution_intro-text {
  width: 600px;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.internet-connection-bg {
  background-image: url('./img/interner-solution.png');
  max-width: 100vw;
  width: 100vw;
  margin: 0 calc(-50vw + 50%) 60px calc(-50vw + 50%);
  padding: 1rem 0rem;
  color: white;
}


.internet-solution-display {
  width: 100%;
  max-width: 80%;
  margin: 5rem auto;
}

.internet-solution-display>div {
  justify-content: space-between;
}

.internet-solution-image {
  height: 50px;
  width: 50px;
}

.internet-solution-section h1,
h2 {
  margin: 0;
}

.internet-solution-section h3 {
  font-size: 40px;
  margin-bottom: 10px;
}

.internet-solution-section h1 {
  font-size: 30px;
}

.internet-solution-section h2 {
  font-size: 20px;
}


.reviews-grid {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  font-size: 13px;
  gap: 20px;
  margin-bottom: 2rem;
}

.review {
  background-color: #F7F7F7;
  padding: .8rem;
  border-radius: 3px;
}

.reviewer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reviewer_img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

.hero-img-two-mobile {
  display: none;
}

.faq-intro-text {
  text-align: center;
}

.faq-intro-text h2 {
  font-size: 30px;
  margin-top: 90px;
}

.faq-intro-text p {
  color: #5E6276;
}

.hide {
  display: none;
}

.questions-accordion {
  width: min(100%, 700px);
  margin: 2rem auto;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2F354F;
  cursor: pointer;
}

.question-container {
  border: 1px solid #DCDCDE;
  border-radius: 30px;
  padding: 15px;
  margin-bottom: 1rem;
}

.questions {
  font-size: 14px;
}

.answers {
  font-size: 14px;
  color: #2F354F;
}

.contact {
  background-color: #0C37F6;
  padding: 2em .5em;
  border-radius: 10px;
  margin: 150px auto 50px auto;
  max-width: 100%;
}

.contact-content {
  text-align: center;
  color: white;
}

.contact-content h1 {
  font-size: 30px;
}

.contact-icon {
  display: flex;
  justify-content: space-around;
  max-width: 40%;
  margin: 0 auto;
}

.contact-icons {
  margin-right: 20px;
}

footer {
  max-width: 60%;
  margin: 0px auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2F354F;
  font-size: 15px;
}

.footer-email {
  text-decoration: none;
  color: #2F354F;
}

.popup-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000000000;
}

.popup {
  max-width: 600px;
  height: 500px;
  position: relative;
  top: 60px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.popup-nav {
  background-color: white;
  width: 70%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  text-align: start;
  border-radius: 5px;
}

.popup-link {
  text-decoration: none;
  color: #01082A;
  width: 100%;
  padding: .8rem;
}

.popup-link:hover {
  background-color: #DCDCDE;
}

.popup-line {
  border-bottom: 1px solid #DDDFE8;
}

.call {
  position: fixed;
  top: 85vh;
  right: 20px;
}

.call-now {
  border: 2px solid #0C37F6;
  padding: .5rem .8rem;
  text-decoration: none;
  background-color: #0C37F6;
  color: white;
  border-radius: 30px;
}

.call-dropdown {
  position: absolute;
  opacity: 0;
  border: 1px solid #DCDCDE;
  width: 150px;
  border-radius: 6px;
  height: 80px;
  right: 0px;
  top: -100px;
  z-index: 10;
  background-color: #FFFFFF;
  padding: 5px;
}

.show {
  opacity: 1;
}

.phone-number-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  width: 100%;
  height: 100%;
}

.phone-number-div button {
  background-color: #FFFFFF;
  outline: none;
  border: 1px solid #DCDCDE;
  padding: 3px;
  color: #5E6276;
  border-radius: 6px;
  cursor: pointer;
}






@media (max-width: 998px) {
  p {
    font-size: 14px;
  }

  .nav-list {
    display: none;
  }

  .menu-bar {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .services-display {
    display: none;
  }

  .mobile-service-section {
    display: block;
    display: flex;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }

  .mobile-service-display {
    width: 100%;
  }

  .mobile-service-icon {
    position: absolute;
    font-size: 20px;
  }

  .left {
    left: 0;
    top: 40%;
  }

  .right {
    right: 0;
    top: 40%;
  }

  .mobile-description-box {
    background-color: #DDDFE8;
    border: 1px solid #DDDFE8;
    max-height: 400px;
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .mobile-service-section {
    margin-top: 30px;
  }

  .mobile_service {
    max-width: 300px;
    margin: 0 auto;
  }

}

@media (max-width: 779px) {

  p {
    font-size: 14px;
  }

  nav {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-bar {
    display: block;
  }

  .nav-container {
    padding: 0;
  }

  .internet-connection-bg {
    background-image: url('./img/internet-mobile2.png');
    background-repeat: no-repeat;
    border: 1px solid black;
    background-position: contain;
    padding: 0px;
  }

  .internet-solution-display {
    flex-direction: column;
  }

  /* border: 1px solid green; */

  .internet-solution-display>div {
    margin-bottom: 100px;
  }
}


@media (max-width: 475px) {

  p {
    font-size: 14px;
  }

  .container {
    width: 90%;
  }


  /* img{
    width: 80vw;
  } */

  .nav-list {
    display: none;
  }

  .menu-bar {
    display: block;
    width: 40px;
    height: 40px;
  }

  .welcome_text {
    width: 100%;
    line-height: 54px;
    font-size: 35px;
  }

  .welcome_text+p {
    margin-bottom: 4rem;
  }

  .welcome-section_button {
    padding: .5rem 1rem;
  }

  .mobile-hero1 {
    max-width: 100vw;
    width: 100vw;
    margin: 0 calc(-50vw + 50%) 0 calc(-50vw + 50%);
    /* border: 1px solid red; */
  }

  .desktop-hero1 {
    display: none;
  }

  .mobile-hero1 {
    display: block;
  }

  .service-section {
    margin-top: -50px;
  }

  .service-section h2 {
    font-size: 20px;
  }

  .internet-solution-section h3 {
    font-size: 25px;
  }

  .ambition-section {
    margin-top: -50px
  }

  .hero-img2 {
    max-width: 100vw;
    width: 100vw;
    margin: 0 calc(-50vw + 50%) 60px calc(-50vw + 50%);
    height: 250px;
  }

  .hero-img-two {
    display: none;
  }

  .hero-img-two-mobile {
    display: block;
  }

  .hero-img-two-mobile {
    width: 100%;
    height: 100%;
  }

  .faq-intro-text h1 {
    font-size: 23px;
    margin: -10px;
  }

  .contact {
    max-width: 100vw;
    width: 100vw;
    margin: 0 calc(-50vw + 50%) 60px calc(-50vw + 50%);
    border-radius: 0px;
  }

  .contact_icons {
    width: 40px;
    height: 40px;
  }

  .contact-icon {
    max-width: 80%;
  }

  footer {
    max-width: 90%;
    margin: 0px auto;
  }

}